 body {
            display: flex;
            justify-content: center;
            font-family: monospace;
            text-align: center;
            font-size: 35px;
        }

        div {
            display: flex;
            justify-self: center;
        }

        p {
            margin-top: 200px;
            width: 28ch;
            border-right: 4px solid black;
            overflow: hidden;
            white-space: nowrap;
            animation: textoPiscando linear infinite 0.5s, efeitoDigitacao steps(28) 2.5s;
            
        }

        @keyframes textoPiscando {
            50% {
                border-right: transparent;
            }
        }

        @keyframes efeitoDigitacao {
            0% {
                width: 0ch;
            }

            100% {
                width: 28ch;
            }
        }
